/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body{
	font-size: 13px;
}

#main {
	width: 1050px;
	margin: auto;
	overflow: hidden;
}

#world {
	// border: 2px solid black;
	// box-sizing: border-box;

}

#controls {
	height: 100px;
	background: white;
	padding: 30px;
	box-sizing: border-box;

	.btn-wrapper {
		margin: auto;
		.btn{
			display: inline-block;
		}

	}

	// .btn{
	// 	width: 100px;
	// 	height: 50px;
	// 	display: block;
	// 	font-size: 1.5em;
	// 	font
	// }
}

#palette, #command {
	height: 100px;
	padding: 20px;
	background: white;
	box-sizing: border-box;

    .icon-empty:before {
        content: " ";
    }
    .cmd-btn {
        display: inline-block;
        width: 56px;
        height: 56px;
        line-height: 32px;
        background-image: none;
        box-sizing: border-box;
    }
}
